doctype html 
html 
    head 
        title Saachi Dance Academy
        block scripts     
        block style 
    body 
        nav#navbar 
            ul 
                div#logo 
                    p#logotext SDA
                    img#logoimg(src = "/static/logo.png")
                li #[a(href = "/") Home]
                li #[a(href = "/") About Us]
                li #[a(href = "/") Services]
                li #[a(href = "/") Our Classes]
                li #[a(href = "/contact") Contact Us]
        block content
        footer#footer 
            p Copyrights © 2022 www.sda.com | All rights reserved.        