extends base.pug

block scripts
    script(src='../static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/styleservices.css
block content 
    div#serviceshead Our Services
    div#servicescontainer 
        div#services1    
            div.servicestext 
                h2 CORPORATE WELLNESS: CULTURE FOR A BETTER HEALTH AND LIFESTYLE  
                p We have rendered our services for some of the leading corporate houses in India. The assignments included Staff Incentive Programs, Product Launch, Theme Events, Employee Parties, Award Ceremonies and Annual Day Events. We provide all this for your company. We always present at all events to make sure everything goes well. The client comes first. The choreography is the heart of any production vision and the art of making it come to life, however simple or complex. Our choreographers understand the value of this and are some of the most creative artists of the movement world right now. With a wide range of choreography, we can provide dancers and trainers. The scope of our services includes Choreography for a group of participating staff and support services.

            div#services1img 
                img.servicesimg(src="/static/servicesimg1.jpg")
        div#services2    
            div#services2img 
                img.servicesimg(src="/static/servicesimg2.jpg")
            div.servicestext 
                h2 CELEBRITY TRAINING, CELEBRITY DANCE AND FITNESS TRAINING PROGRAM 
                p SDA is known for its Well-Trained Dancers, Mesmerizing Choreography, High Energy Stage Presence and its Versatile Dance Repertoire including Jazz, Contemporary Dance, Modern Dance, Global Fusion Dances, International Ethnic Dances, Hip Hop, Salsa, Lambada, Samba, Flamenco, Tango, Jive, Indian Classical Dances and Indian Cultural Dances. We offer private dance and fitness lessons in our celebrity dance program.  We made many celebrities dance and taught them dancing skills like Tiger Shroff, Disha Patni, Jacqueline Fernandez, Sushant Singh Rajput, Sharman Joshi, Sunny Leone, Aditya Seal, Neha Sharma, Aisha Sharma, Urvashi Rautela and Many More. 
        div#services3   
            div.servicestext 
                h2 PRIVATE EVENT CHOREOGRAPHY  
                p If you are looking for professional choreographers for your show/event/functions then please do not hesitate to contact and discuss your requirements. Our dancers are professionally trained and have a wealth of experience. Saachi Dance Academy will help you execute your vision for this special event with professionalism and grace. Teaching is our passion, and we can work with your dance ability, personality, style and love story to create a first dance or guide you and your friends and family in an unforgettable performance.

                h3 WE RENDER END TO END SERVICES FOR
                p 1. Corporate Events
                p 2. Birthday Parties
                p 3. Theme Parties
                p 4. School Annual Day
                p 5. College Annual Day
                p 6. Cultural Programs
                p 7. Bollywood Parties
                p 8. Fashion shows
                p 9. Fundraisers
            div#services3img 
                img.servicesimg(src="/static/servicesimg3.png")               