@import url('https://fonts.googleapis.com/css?family=ZCOOL QingKe HuangYou');
@import url('https://fonts.googleapis.com/css?family=Yeon Sung');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#serviceshead{
    margin: 10px 0px;
    font-size: 40px;
    font-family: 'Yeon Sung';
    color: white;
    background-color: black;
    text-align: center;
}
#servicescontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#services1{
    display: flex;
    flex-direction: row;
    margin: 15px 10px;
    justify-content: center;
}
#services2{
    display: flex;
    flex-direction: row;
    margin: 15px 10px;
    justify-content: center;
    
}
#services3{
    display: flex;
    flex-direction: row;
    margin: 15px 10px;
    justify-content: center;
}
.servicestext{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 15px 50px;
}
.servicestext h2{
    font-family: 'ZCOOL QingKe HuangYou';
    margin: 25px 0px;
}
.servicesimg{
    width: 300px;
    height: 300px;
    margin: 15px 50px;
    margin-top: 55px;
    
}
.servicestext h3{
    margin: 15px 0px;
}
#services3img{
    margin-top: 110px;
}